.wrap {
  min-height: 100vh;
  width: 100vw;
}

#made-by {
  background: #333;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  bottom: 0;
  color: #fff;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 99;
  a,
  a:active,
  a:visited {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 300;
    text-decoration: none;
  }
  img {
    height: 20px;
  }
}

// GENERIC
.center {
  text-align: center;
}

.code,
.showcase {
  background: #f7f7f7;
  border: 1px solid rgba(195, 195, 195, 1);
}

.code {
  font-family: monospace, monospace;
  min-height: 40px;
  padding: 10px 20px;
  pre {
    margin-left: -95px;
    margin-bottom: -15px;
  }
}

.label {
  color: rgba(160, 160, 160, 1);
  font-weight: bold;
  text-align: right;
}

h1.title {
  color: rgba(160, 160, 160, 1);
  cursor: default;
  padding: 10px 20px;
}

h2.subtitle {
  color: rgba(160, 160, 160, 1);
  cursor: default;
  font-size: 1.15rem;
  margin-bottom: 10px;
  text-decoration: underline;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-right-20 {
  padding-right: 20px;
}

section {
  margin: 30px 0 0 0;
  &:nth-child(1),
  &:nth-child(2) {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 50px;
  }
  > .content {
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 1);
    max-width: 1900px;
    padding: 10px;
    width: 95vw;
  }
}
// END GENERIC

// INPUT
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 1rem;
  padding: 7px;
  text-align: right;
}
// END INPUT

// RADIO
.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: undefinedpx;
}
.control:hover input ~ .control-indicator,
.control input:focus ~ .control-indicator {
  background: #cccccc;
}

.control input:checked ~ .control-indicator {
  background: #48b500;
}
.control:hover input:not([disabled]):checked ~ .control-indicator,
.control input:checked:focus ~ .control-indicator {
  background: #48b500;
}
.control input:disabled ~ .control-indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control-indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control-indicator:after {
  display: block;
}
.control-radio .control-indicator {
  border-radius: 50%;
}

.control-radio .control-indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #ffffff;
  transition: background 250ms;
}
.control-radio input:disabled ~ .control-indicator:after {
  background: #7b7b7b;
}
.control-radio .control-indicator::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #7fcb4d;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}
@keyframes s-ripple {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0.01;
    transform: scale(1);
  }
}
@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.control-radio input + .control-indicator::before {
  animation: s-ripple 250ms ease-out;
}
.control-radio input:checked + .control-indicator::before {
  animation-name: s-ripple-dup;
}
// END RADIO

#about {
  font-size: 1.2rem;
  .content {
    background: none;
    border: none;
    box-shadow: none;
  }
}

#childrenGap {
  > .content {
    > .showcase {
      &.column {
        height: auto;
        > .item {
          height: 40px;
        }
      }
      &.row {
        height: 200px;
      }
      > .item {
        color: rgba(255, 255, 255, 1);
        font-size: 1.1rem;
        font-weight: bold;
        min-height: 30px;
        min-width: 50px;
        &:nth-child(1) {
          background-color: rgba(242, 180, 46, 1);
          color: #333;
        }
        &:nth-child(2) {
          background-color: rgb(113, 113, 113);
        }
        &:nth-child(3) {
          background-color: rgba(211, 41, 41, 1);
        }
        &:nth-child(4) {
          background-color: rgba(147, 230, 78, 1);
          color: #333;
        }
      }
    }
  }
}

#childrenWrap {
  > .content {
    > .showcase {
      > .item {
        color: rgba(255, 255, 255, 1);
        font-size: 1.1rem;
        font-weight: bold;
        height: 100px;
        min-width: 50px;
        &:nth-child(1) {
          background-color: rgba(242, 180, 46, 1);
          color: #333;
        }
        &:nth-child(2) {
          background-color: rgb(113, 113, 113);
        }
        &:nth-child(3) {
          background-color: rgba(211, 41, 41, 1);
        }
        &:nth-child(4) {
          background-color: rgba(147, 230, 78, 1);
          color: #333;
        }
        &:nth-child(5) {
          background-color: rgba(34, 34, 34, 1);
        }
        &:nth-child(6) {
          background-color: rgba(149, 0, 255, 1);
        }
        &:nth-child(7) {
          background-color: rgba(107, 191, 255, 1);
          color: #333;
        }
        &:nth-child(8) {
          background-color: rgba(247, 0, 177, 1);
        }
      }
    }
  }
}

#logo {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  margin-bottom: 40px;
  padding: 30px 20px;
}

#layout {
  > .content {
    > .showcase {
      height: 250px;
      > .item {
        color: rgba(255, 255, 255, 1);
        font-size: 1.1rem;
        font-weight: bold;
        min-height: 30px;
        min-width: 50px;
        &:nth-child(1) {
          background-color: rgba(242, 180, 46, 1);
          color: #333;
        }
        &:nth-child(2) {
          background-color: rgb(113, 113, 113);
        }
        &:nth-child(3) {
          background-color: rgba(211, 41, 41, 1);
        }
        &:nth-child(4) {
          background-color: rgba(147, 230, 78, 1);
          color: #333;
        }
        &:nth-child(5) {
          background-color: rgb(27, 48, 165);
        }
      }
    }
  }
}

#about {
  > .content {
    i {
      font-size: 3rem;
    }
  }
}

#installation {
  > .content {
    padding: 0 20px 10px 20px;
  }
}

#itemOffset {
  > .content {
    > .showcase {
      > .item {
        color: rgba(255, 255, 255, 1);
        font-size: 1.1rem;
        font-weight: bold;
        &:nth-child(1) {
          background-color: rgba(242, 180, 46, 1);
          color: #333;
        }
        &:nth-child(2) {
          background-color: rgb(27, 48, 165);
        }
        &:nth-child(3) {
          background-color: rgb(192, 6, 157);
        }
      }
    }
  }
}

#itemOrder {
  > .content {
    > .showcase {
      > .item {
        color: rgba(255, 255, 255, 1);
        font-size: 1.1rem;
        font-weight: bold;
        min-height: 30px;
        min-width: 50px;
        &:nth-child(1) {
          background-color: rgba(242, 180, 46, 1);
          color: #333;
        }
        &:nth-child(2) {
          background-color: rgb(113, 113, 113);
        }
        &:nth-child(3) {
          background-color: rgba(211, 41, 41, 1);
        }
        &:nth-child(4) {
          background-color: rgba(147, 230, 78, 1);
          color: #333;
        }
      }
    }
  }
}

#itemSize {
  > .content {
    .showcase {
      > .item {
        color: rgba(255, 255, 255, 1);
        font-size: 1.1rem;
        font-weight: bold;
        &:nth-child(1) {
          background-color: rgb(113, 113, 113);
        }
        &:nth-child(2) {
          background-color: rgba(147, 230, 78, 1);
          color: #333;
        }
        &:nth-child(3) {
          background-color: rgb(27, 48, 165);
        }
      }
    }
    .section-options {
      width: 100%;
      > .item {
        width: 250px;
      }
    }
  }
}

#screenBreakpoints {
  > .content {
    padding: 20px;
    > .list {
      > .item {
        border-bottom: 1px solid rgba(160, 160, 160, 1);
        > .cell {
          padding: 10px 0;
          text-align: center;
          > h2.subtitle {
            margin-bottom: 0;
            text-decoration: none;
          }
          &:first-child {
            color: rgba(160, 160, 160, 1);
            > h3 {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 959px) {
  #about {
    .content {
      width: 85%;
    }
  }
  #itemSize {
    > .content {
      .showcase {
        &.column {
          height: 400px;
          max-height: 400px;
          min-height: 400px;
          > .item {
            > div {
              transform: rotate(0deg);
            }
          }
        }
        &.row {
          height: 200px;
          max-height: 200px;
          min-height: 200px;
          > .item {
            > div {
              transform: rotate(270deg);
            }
          }
        }
      }
    }
  }

  #itemOffset {
    > .content {
      > .showcase {
        height: 200px;
        max-height: 200px;
        min-height: 200px;
        &.column {
          > .item {
            > div {
              transform: rotate(0deg);
            }
          }
        }
        &.row {
          > .item {
            > div {
              transform: rotate(270deg);
            }
          }
        }
      }
    }
  }

  #logo {
    img {
      max-width: 300px;
      width: 50%;
    }
  }

  #made-by {
    padding: 8px 5px 5px 5px;
  }
}

@media screen and (min-width: 960px) {
  #about {
    .content {
      width: 50%;
    }
  }

  #itemSize {
    > .content {
      .showcase {
        &.column {
          height: 500px;
          max-height: 500px;
          min-height: 500px;
        }
        &.row {
          height: 100px;
          max-height: 100px;
          min-height: 100px;
        }
      }
    }
  }

  #logo {
    img {
      max-width: 300px;
      width: 100%;
    }
  }

  #made-by {
    padding: 8px 15px 5px 15px;
  }
}
